<div>
    <!--<div id="content">-->
    <section id="todoapp">
        <h1>Graphic Design Work</h1>
        <div class="content-container">
            <div class="graphic-item">
                <img class="tall" src="../images/portfolio/thicc-poster.png">
                <span class="title">Thicc & Emotional</span>
                <span class="caption">Comedy show in Chicago</span>
            </div>
            <div class="graphic-item ">
                <img class="wide" src="../images/portfolio/improv_murder.png">
                <span class="title">Improv Murder</span>
                <span class="caption">Comedy show in Chicago</span>
            </div>
            <div class="graphic-item">
                <img class="wide" src="../images/portfolio/new-year-who-dis-postcard.png">
                <span class="title">New Year, Who Dis</span>
                <span class="caption">Comedy show in Chicago</span>
            </div>
            <div class="graphic-item">
                <img class="wide" src="../images/portfolio/owl-birthday-no-text.gif">
                <span class="title">Birthday Custom Gif</span>
                <!--<span class="caption">Comedy show in Chicago</span>-->
            </div>
        </div>

    </section>

</div>
