<head>
    <base href="/dist">
</head>
<div>
<!--<div id="content">-->
    <section id="todoapp">
        <h1>Jeanette Santori</h1>

        <img id="desk-line" src="../images/desk-line.svg">

        <div id="desk-section">
            <div id="websites">
                <a href="/dist/index.html#!/website"><img src="../images/websites-labeled.png"></a>
            </div>
            <div id="graphics">
                <a href="/dist/index.html#!/graphics"><img src="../images/graphic-labeled.png"></a>
            </div>
            <div id="resume">
                <a href="/dist/index.html#!/resume"><img src="../images/resume-labeled.png"></a>
            </div>
            <div id="cards">
                <a href="https://www.etsy.com/shop/ItsJeanettics" target="_blank"><img src="../images/cards-labeled.png"></a>
            </div>
        </div>


    </section>

</div>
