<div>
    <!--<div id="content">-->
    <section id="todoapp">
        Ringtail Design
        User Experience Developer May 2014 - July 2015
        Designed and developed open source temporal graph visualization tool to display changes in network connections, segmentation and centrality over time in a modular Angular framework. Produced in under 2 months using rapid iterative prototyping.

        Implemented new features for custom business intelligence data visualization dashboard with D3, Durandal, MonetDB and MapReduce technologies.

        Worked collaboratively with other developers and designers to design and improve various features and products, focusing on optimizing the user experience. Conducted user interviews as part of user-centric design process.

        Orbis Technologies
        Associate Software Developer July 2013 - April 2014
        Reconfigured static dashboard reporting system UI to portal based system with Ext JS

        Created a map widget that added layers of geolocation data of various entities sent to it from existing widgets using OpenLayers, JavaScript and HTML

        Led a requirements testing team and wrote unit tests using JUnit and Mockito

        Documented various analytic algorithms written in Hadoop MapReduce and Giraph

        Berkshire Associates
        Product Development Intern June 2012 - March 2012
        Added a dashboard reporting system that included statistical analytics to the existing product suite

        Programmed client-requested customizations in .NET to affirmative action planning software

        Updated website to be run in a new content management system

        Integrated new census data into back-end systems using SQL

        Stanley Black and Decker
        Material Control Systems Intern June 2011 - May 2012
        Developed web applications using ASP, VB.NET, SQL, HTML and CSS

        Created an automated process for comparing database schemas in SQL Server to replace time consuming manual process

        Collaborated with users on effecting a better user experience with in-house project management software

        UMBC
        Double Major in Computer Science and Math September 2009 - June 2013
        UMBC Premier Scholar

        Member of the Honors College

        Cardinal Research
        August 2009 - November 2012
        Entered survey and demographic data of mock trial participants for jury selection research

        Created charts in Excel for presentation to clients

        Ran focus groups and wrote reports on participant feedback

    </section>

</div>
