<div>
    <!--<div id="content">-->
    <section id="todoapp">
        <h1>Websites and UX</h1>
        <div class="content-container">
            <div class="graphic-item">
                <img class="tall" src="../images/portfolio/kenley_sparkles.gif">
                <a href="kenleyeaglestone.com" target="_blank"><span class="title">KenleyEaglestone.com</span></a>
                <span class="caption">Comedian Professional Site</span>
            </div>
            <div class="graphic-item ">
                <img class="wide" src="../images/portfolio/performance_dashboard.png">
                <span class="title">ßPerformance Dashboard</span>
                <span class="caption">Interactive dashboard to show efficacy of product at a glance</span>
            </div>
        </div>

    </section>

</div>
