html,
body {
	margin: 0;
	padding: 0;
}

//#content{
//	background-color: transparent;
//	background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
//	height:100%;
//	background-size:50px 50px;
//}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

img {
	height: auto;
	width: 300px;
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}

}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #FFF;
	color: #4d4d4d;
	min-width: 230px;
	//max-width: 550px;
	text-align: center;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
	//background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
	//height:100%;
	//background-size:50px 50px;
}

button,
input[type="checkbox"] {
	outline: none;
}

.hidden {
	display: none;
}

#todoapp {
	//background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	//box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	//            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: left;
	color: #EF3B39;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	margin-bottom: 50px;
	margin-left: 50px;
}

//desk items and positoning

#desk-section {
	margin: auto;
	width: 1000px;
	height:600px;
	//background-color: #FFF;
	position: relative;
}

#desk-line {
	width: 100%;
	top: 50px;
	left: 0;
	position: absolute;

}

#websites, #graphics, #resume, #cards {
	position: absolute;
	display: inline-block;
	width: auto;
}

#websites {
	left: 120px;
	top: 0;
}

#graphics {
	right: 100px;
	top:-120px
}

#resume {
	right: 380px;
	top: 340px;
}

#cards {
	right: 0px;
	top: 250px;

	img {
		width: 200px;
	}
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}

	#toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	#footer {
		height: 50px;
	}

	#filters {
		bottom: 10px;
	}
}
.graphic-item {
	text-align: center;
	//display: inline-block;
	//padding: 20px;
	//min-width: 500px;
	&.wide {
		flex-grow: 2;
	}
	&.tall {
		flex-grow: 1;
	}
	img {
		width: 250px;
		height: auto;
		min-width: 250px;
		//width: auto;
		flex-shrink: 2;
		margin: 10px;
		&:hover {
			transform: scale(3.1);
		}
	}
	.title {
		display: block;
		font-size: 1.5em;
	}
	.caption {
		display: block;
	}
}
.content-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1000px;
	min-width: 500px;
	margin: auto;
	//text-align: center;
}
